@use '../../stylesheets/variables' as variable;
@use '../../stylesheets/mixins' as mixin;

.container {
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: variable.$white;
  box-shadow: variable.$subtle-box-shadow;
  transition: border variable.$ease-200ms;
}

.container:hover {
  border: 1px solid variable.$electric-indigo;
}

.button {
  width: 100%;
  display: flex;
  cursor: pointer;
  border: transparent;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 2rem 1.5rem;
  background-color: transparent;
  justify-content: space-between;
}

.clientWrapper {
  gap: 2.813rem;
  display: flex;
  align-items: center;
}

.id {
  @include mixin.HeadingSmall(compact);
}

.hashtag {
  color: variable.$glaucous;
}

.dueDate,
.variant {
  @include mixin.BodyFont(compact);
}

.dueDate {
  margin-right: 0.625rem;
  color: variable.$glaucous;
}

.variant {
  color: variable.$french-gray;
}

.clientName {
  @include mixin.BodyFont(compact);
  color: variable.$french-gray;
}

.totalWrapper {
  gap: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total {
  @include mixin.HeadingSmall(compact);
  line-height: variable.$line-height-24;
}

.icon {
  display: flex;
  min-width: 0.5rem;
  align-items: center;
  justify-content: center;
}

//Dark Theme
.dark {
  background-color: variable.$space-cadet;

  .dueDate,
  .variant {
    color: variable.$lavender;
  }

  .id,
  .clientName,
  .total {
    color: variable.$white;
  }
}

@media (width <= variable.$mobile) {
  .button {
    padding-inline: 1.5rem;
    flex-direction: column;
    padding-block: 1.563rem 1.375rem;
  }

  .clientWrapper {
    width: 100%;
    gap: 1.75rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .dueDate {
    order: 1;
    width: 100%;
    text-align: start;
    margin-right: initial;
  }

  .totalWrapper {
    width: 100%;
    gap: 1.25rem;
    align-items: flex-end;
  }

  .icon {
    display: none;
  }
}
