@use 'variables' as variable;
@use 'mixins' as mixin;
@use 'reset';

body {
  font-family: variable.$league-spartan, system-ui, sans-serif;
}

//Themes
.light {
  background-color: variable.$seasalt;
}

.dark {
  background-color: variable.$raisin-black;
}
