@use 'variables' as variable;
@use 'mixins' as mixin;
@use 'reset';

body {
  @include mixin.BodyFont(compact);
  font-family: variable.$league-spartan, system-ui, sans-serif;
}

.theme-container {
  min-height: 100vh;
}

//Themes
.light {
  background-color: variable.$seasalt;
}

.dark {
  background-color: variable.$raisin-black;
}
