@use 'variables' as variable;
@use 'mixins' as mixin;
@use 'reset';

body {
  @include mixin.BodyFont(compact);
  font-family: variable.$league-spartan, system-ui, sans-serif;
}

.theme-container {
  display: flex;
  min-height: 100svh;
}

main {
  width: 100%;
  display: flex;
  overflow-x: clip;
  position: relative;
  margin-inline: auto;
  max-width: 45.625rem;
  margin-top: 4.875rem;
  padding-bottom: 6rem;
}

//Themes
.light {
  background-color: variable.$seasalt;
}

.dark {
  background-color: variable.$raisin-black;
}

@media (width <= variable.$tablet) {
  .theme-container {
    align-items: center;
    flex-direction: column;
  }

  main {
    max-width: unset;
    margin-top: 8.875rem;
    padding-inline: 3rem;
    margin-inline: initial;
  }
}

@media (width <= variable.$mobile) {
  main {
    gap: 2rem;
    margin-top: 6.5rem;
    padding-inline: 1.5rem;
  }
}
