//Green Tonalities
$emerald: hsl(160, 67%, 52%);

//Red Tonalities
$indian-red: hsl(0, 80%, 63%);

//Pink Tonalities
$salmon-pink: hsl(0, 100%, 80%);

//Orange Tonalities
$princeton-orange: hsl(34, 100%, 50%);

//Blue Tonalities
$delft-blue: hsl(233, 30%, 21%);
$space-cadet: hsl(233, 31%, 17%);

//Black Tonalities
$black: hsl(0, 0%, 0%);
$night: hsl(345, 6%, 13%);
$rich-black: hsl(228, 29%, 7%);
$raisin-black: hsl(233, 30%, 11%);

//Purple Tonalities
$glaucous: hsl(231, 37%, 63%);
$ultra-violet: hsl(232, 20%, 36%);
$electric-indigo: hsl(252, 94%, 67%);
$tropical-indigo: hsl(252, 100%, 73%);

//White Tonalities
$white: hsl(0, 0%, 100%);
$seasalt: hsl(240, 27%, 98%);
$lavender: hsl(231, 73%, 93%);
$magnolia: hsl(228, 71%, 99%);
$white-smoke: hsl(210, 4%, 91%);

//Gray Tonalities
$jet: hsl(231, 20%, 27%);
$platinum: hsl(0, 0%, 85%);
$cool-gray: hsl(231, 20%, 61%);
$timberwolf: hsl(200, 3%, 83%);
$slate-gray: hsl(225, 14%, 53%);
$french-gray: hsl(232, 23%, 61%);

//Transparent Colors
$transparent-black-50: hsl(0, 0%, 0%, 0.5);
$transparent-black-25: hsl(0, 0%, 0%, 0.25);
$transparent-white-50: hsl(0, 0%, 100%, 0.5);
$transparent-jet-5: hsl(231, 20%, 27%, 0.05);
$transparent-emerald-5: hsl(160, 67%, 52%, 0.05);
$transparent-lavender-5: hsl(231, 73%, 93%, 0.05);
$transparent-violet-blue-10: hsl(232, 38%, 45%, 0.1);
$transparent-violet-blue-25: hsl(232, 38%, 45%, 0.25);
$transparent-princeton-orange-5: hsl(34, 100%, 50%, 0.05);
