@use 'colors' as color;

//Media Queries Breakpoints
$desktop: 1920px;
$tablet: 1130px;
$mobile: 762px;

//Box Shadows
$subtle-box-shadow: 0px 10px 10px -10px color.$transparent-violet-blue-10;
$box-shadow-dark-theme: 0px 10px 20px 0px color.$transparent-black-25;
$box-shadow: 0px 10px 20px 0px color.$transparent-violet-blue-25;

//Transitions
$ease-200ms: ease 200ms;
$ease-300ms: ease 300ms;
